
.measurament_form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .measurament_field{
    &_container{
      display: flex;
      flex-direction: column;
      label{
        text-align: left;
        margin-left: 5px;
      }
      &.right{
        align-items: flex-end;
      }
      &.center{
        align-items: center;
      }
    }
  }
  
}