:root {
  --keyColor: 108;
  --primaryColor: hsl(var(--keyColor), 100%, 59%);
  --hoverColor: hsl(var(--keyColor), 100%, 64%);
  --activeColor: hsl(var(--keyColor), 100%, 52%);
  --grayColor: hsl(var(--keyColor), 50%, 80%);
  --lightColor: hsl(var(--keyColor), 100%, 98%);
  --fontColor: hsl(var(--keyColor), 100%, 6%);
  --background-color: hsl(var(--keyColor), 100%, 90%);

  --errorColor: 360;
  --errorBackground: hsl(var(--errorColor), 45%, 85%);
  --errorBorder: hsl(var(--errorColor), 70%, 60%);

  --warningColor: 40;
  --warningBackground: hsl(var(--errorColor), 80%, 80%);
  --warningBorder: hsl(var(--errorColor), 80%, 50%);

  --spacing: 16px;
  --spacing-xs: calc(var(--spacing) / 2);
  --spacing-lg: calc(var(--spacing) * 1.5);
  --spacing-xl: calc(var(--spacing) * 2);
  --spacing-xxl: calc(var(--spacing) * 3);
  --spacing-xxxl: calc(var(--spacing) * 4);

  --corners: 8px;
  --corners-xs: calc(var(--corners) / 2);
  --corners-lg: calc(var(--corners) * 1.5);
  --corners-xl: calc(var(--corners) * 2);
  --corners-xxl: calc(var(--corners) * 3);
  --corners-round: 999px;

  --fontFamily: "Work Sans", system-ui, sans-serif;

  --ease: cubic-bezier(0.22, 1, 0.36, 1);

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.04);
  --shadow-xxl: 0 19px 38px rgba(0, 0, 0, 0.08), 0 15px 12px rgba(0, 0, 0, 0.04);
}

/* Reset Styles */
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
/* General */
body {
  font-family: var(--fontFamily);
  min-width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--fontColor);
  background-color: var(--background-color);
}

h2{
  &.loading{
    margin: 2em;
  }
}

a {
  text-decoration: unset;
}

button{
  cursor: pointer;
  max-width: 150px;
  width: -webkit-fill-available;
  margin: 0;
  padding: 1em;
  background-color: var(--grayColor);
  border: 3px solid var(--grayColor);
  border-radius: var(--corners-round);
  font-size: 16px;
  transition: all .2s ease-in;
  &:hover{
    background-color: var(--grayColor);
  }

  &.thin{
    max-width: unset;
    height: fit-content;
    width: -webkit-fill-available;
    padding: 1em 2em;
  }
  
  &.ghost{
    background-color: transparent;
    &:hover,
    &:disabled{
      background-color: var(--grayColor);
    }
  }

  &.standalone{
    margin: 2em 0;
    max-width: unset;
    width: fit-content;
    text-align: center;
  }
}

input, select{
  padding: 0.5em;
}

.col-1{
  width: 8.33%;
  padding: 1%;
}

.col-2{
  width: 16.66%;
  padding: 1%;
}

.col-3{
  width: 25%;
  padding: 1%;
}

.col-4{
  width: 33.3%;
  padding: 1%;
}

.col-8{
  width: 66.6%;
  padding: 1%;
}

.col-9{
  width: 75%;
  padding: 1%;
}
.col-12{
  width: 100%;
  padding: 1%;
}