.card {
  background-color: #ffffff;
  border: 3px solid var(--grayColor);
  border-radius: var(--corners);
  padding: 2em;
  position: relative;
  margin-bottom: 2em;
  
  &.auth{
    padding-bottom: 6em;
    max-width: 450px;
    margin: 0 auto;
  }

  &.list{
    padding: 0;
  }
}