.message{
  padding: 1em;
  margin-bottom: 1.5em;
  font-weight: 600;
  
  &.error{
    background-color: var(--errorBackground);
    border: 3px solid var(--errorBorder);
    border-radius: var(--corners);
    color: var(--errorBorder);
  }

  &.warning{
    background-color: var(--errorBackground);
    border: 3px solid var(--errorBorder);
    border-radius: var(--corners);
    color: var(--errorBorder);
  }
}