.navbar{
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    height: 100px;
    width: 200px;
    background-image: url(/img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}