.form{
  max-width: 600px;
  margin: 0 auto;
  &_field{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    label{
      margin-bottom: 0.5em;
    }
    input{
      height: 2rem;
    }
  }
}

.btn-change{
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  padding: 0.5em;
  font-size: 1.75em;

  background-color: var(--grayColor);
  border-top: 3px solid var(--grayColor);

  transition: 0.2s ease-in;

  &:hover{
    background-color: var(--primaryColor);
  }
}